/xaero
/crash-reports
/logs
/map exports
hs_err_pid11812.log
hs_err_pid10688.log
/ESM/Nouveau monde
/ESM/ServerWorld
resourcepacks/§5RealisCraft §6\[v1.24.0\] §1\[256\] §d\[LabPBR 1.3\].zip
resourcepacks/§5Luminous Ores §1\[256\] §d\[LabPBR 1.3\].zip
resourcepacks/§5Glowing Glazed Terracotta §1\[256\] §d\[LabPBR 1.3\].zip
resourcepacks/§5Artifacts Glass §1\[256\].zip
resourcepacks/Xray_Ultimate_1.20.5_v5.0.1.zip
/schematics
welcomescreen_cache.json
TrashSlotSaveState.json
/screenshots
usercache.json
usernamecache.json
/XaeroWaypoints_BACKUP240807
